

/*border box model*/
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: #F6F6F6;
}

body {
    /*
    background: url("../images/background.svg") repeat;
    */
}

.logo img {
    height: 20px;
}

h1, a {
   color: #323232;
   font-family: Montserrat, Helvetica, sans-serif;
   font-weight: 400;
}

h1 {
    font-size: 28px;
}

h2, h3 {
    font-family: Open Sans, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.hero {
    width: 100%;
    min-height: 540px;
    background: url("../images/thedivision.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

.hero__text {
    margin: 30px;
    text-align: center;
    color: #fff;
    text-align: center;
}

.hero__text h1 {
    font-size: 38px;
    color: #fff;
    margin: 20px 0 20px 0 ;
}

.hero__text h2 {
    margin-bottom: 40px;
}

.hero__convo {
    padding: 0 30px 30px 30px
   
}

.hero__convo p{
    margin: 5px 0 5px 0;
    background-color: white;
    font-size: 14px;
    padding: 12px 18px;
    border-radius: 4px;
    width: 64%;
}

.hero__text a {
    color: #fff;
    margin-top: 20px;
}

.hero__avatar {
    height: 38px;
}

.hero__pin {
    padding-top: 8px;

}

.checkin {
    margin-top: 20px;
}

.player1 {
    position: relative;
}

.player1 p {
    margin-right: 48px;
    float: right;
}

.player1 .hero__avatar {
    position: absolute;
    bottom: 5px;
    right: 0;
}

.player2 {
    position: relative;
}

.player2 p{
    margin-left: 48px;
    float: left;
    background-color: #B8CDE0;
}

.player2 .hero__avatar {
    position: absolute;
    bottom: 5px;
    left: 0;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

a:hover {
    border-color: #FF5E00;
}

.nav {
    padding: 20px 20px 20px 20px;
}

.link--loud {
    padding: 0.8em 2.2em 0.8em;
    border: 2px solid;
    border-color: #FEB157;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.nav .link--loud {
    padding: 0.4em 1.4em 0.4em;
}

.nav__links {
    float: right;
}

.nav__links a {
    margin-left: 16px;
}

.trending__title {
    margin: 60px 0 16px 0;
    text-align: center;
}

.trending__title img {
    height: 18px;
    width: 28px;
    margin-left: 6px;
    position: relative;
    top: 2px;
}

.trending {
    margin-left: auto;
    margin-right: auto;
    height: 246px;
    max-width: 1000px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    white-space: nowrap;
}

.trending::-webkit-scrollbar { 
    display: none;
}

.game {
    height: 246px;
    margin-left: 30px;
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.game:last-child {
    margin-right: 30px
}

.game__img{
    width: 164px;
}

.game__card {
    height: 64px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: white;
    white-space: normal;
}

.game__card h3 {
    text-align: left;
    margin: 4px 10px;
    font-size: 16px;
}

.info {
    max-width: 620px;
    padding: 0 30px 0 30px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.info h1, .info h2 {
    width: 228px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.column {
    width: 100%;
    position: relative;
}

.burst {
    max-width: 300px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.feature__row {
    width: inherit;
    padding: 30px;
}

.feature__row .column {
    max-width: 300px;
    height: inherit;
}

.mobile {
    margin-top: 40px;
}

footer {
    height: 200px;
    width: 100%;
    margin-top: 80px;
    background-color: #EEEEEE;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

@media all and (min-width: 600px) {


    .nav {
        padding: 20px 30px;
    }

    .column {
        height: 360px;
        float: left;
        text-align: left;
    }

    .column.half { width: 50%; }
    .column.third { 
        width: 33.3%
    }
    .column.flow-opposite { float: right; }


    .center-vert {
    position: absolute;
    top: 50%;

     -webkit-transform: translateY(-50%);
         -ms-transform: translateY(-50%);
             transform: translateY(-50%);
    }
    
    .info h1, .info h2 {
    text-align: left;
    float: right;
    }

    .flow-opposite h1, .flow-opposite h2 { 
        float: left; 
    }

    .hero__text {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .hero__convo {
        visibility: visible;
        display: block;
    }


}

@media all and (min-width: 760px) {

    .hero__text {
        margin: 140px 0 0 0;
        padding-left: 30px;
        padding-right: 15px;
        width: 50%;
        float: left;
        clear: left;
        text-align: left;
    }

    .hero__convo {
        margin: 140px 0 0 0;
        padding-left: 15px;
        padding-right: 30px;
        width: 50%;
        float: right;
        visibility: visible;
    }

}

@media all and (min-width: 1040px) {

    .trending {
        max-width: 1000px;
        overflow-x: hidden;
    }
}