/*border box model*/
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: #F6F6F6;
}

/* 
body {
    background: url("../images/background.svg") repeat;
}
*/

.logo img {
    height: 20px;
}

h1, a {
   color: #323232;
   font-family: Montserrat, Helvetica, sans-serif;
   font-weight: 400;
}

h1 {
	font-size: 28px;
    text-align: center;
}

h2, h3 {
	font-family: "Open Sans", Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 400;
    text-align: center;
}

.hero {
	max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.hero > img{
    width: 100%;
}

header {
	margin-right: auto;
	margin-left: auto;

	max-width: 800px;
}

header h1 {
	font-size: 38px;
	padding: 0;
	margin: 8px 0 12px 0;
}

header h2 {
	padding: 0;
	margin: 0 0 28px 0;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

.nav {
	padding: 20px 20px 60px 20px;
}

.link--loud {
	padding: 0.8em 2.2em 0.8em;
    border: 2px solid;
    border-color: #FF8244;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.link--loud:hover {
    border-color: #FF5E00;
}


.nav .link--loud {
	padding: 0.4em 1.4em 0.4em;
}

.nav__links {
	float: right;
}

.nav__links a {
	margin-left: 1em;
}

.trending__title {
    margin: 60px 0 16px 0;
}

.trending__title img {
    height: 18px;
    width: 28px;
    margin-left: 6px;
    position: relative;
    top: 2px;
}

.trending {
	margin-left: auto;
	margin-right: auto;
	height: 246px;
	max-width: 1000px;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	overflow-y: hidden;
	white-space: nowrap;
}

.trending::-webkit-scrollbar { 
    display: none;
}

.game {
    margin: 0;
    padding: 0;
	height: 246px;
	margin-left: 30px;
	display: inline-block;
	position: relative;
	vertical-align: top;
}


.game__img{
	width: 164px;
}

.game__card {
	height: 64px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: white;
	white-space: normal;
}

.game__card h3 {
	text-align: left;
	margin: 4px 10px;
	font-size: 16px;
}

.game:hover .game__card {
    height: 74px;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;

}

.info {
    max-width: 620px;
    padding: 0 30px 0 30px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.info h1, .info h2 {
    width: 228px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.info__image {
    position: relative;
}

.info__right {
    max-height: 40%;
    position: absolute;
    right: 0;
    top: 16%;
}

.info__left {
    max-height: 40%;
    position: absolute;
    left: 0;
    bottom: 16%;
}

.attack {
    max-height: 45%;
}

.friends {
    max-height: 45%;
}

.column {
    width: 100%;
    position: relative;
}

.burst {
    max-width: 300px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity: 1;
}

.feature__row {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.feature__row .column {
    height: inherit;
    padding: 0 15px 0 15px;
    max-width: 280;
    margin-left: auto;
    margin-right: auto;
}

.feature__image {
    max-height: 50px;
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.mobile {
    margin-top: 40px;
    text-align: center;
    }

.mobile__image {
    max-height: 240px;
    padding: 20px 8px 0 8px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.mobile__image:hover g {
    fill: #FF5E00;
    transition: 300ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 300ms;
    -webkit-transition-timing-function: ease-in-out;
}

footer {
    width: 100%;
    margin-top: 80px;
    background-color: #323232;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

footer ul {
    color: #FFF;
    list-style: none;
    padding: 0;
}

footer a {
    color: #FFF;
    font-family: "Open Sans", Helvetica, sans-serif;
}

footer a:hover {
    color: #FF5E00;
    font-family: "Open Sans", Helvetica, sans-serif;
}

.footer__container{
    max-width: 800px;
    padding: 30px;
    margin: 0 auto 0 auto;
}

.footer__container > ul{
    margin: 0;
}

.footer__logo img {
    margin: 30px auto 20px auto;
    display: block;
}
 
.footer__list {
    float: left;
    width: 50%;
    padding-top: 40px;
    color: #FF8244;
}

.footer__list li {
    padding: 10px 0 0 0;
    font-weight: 400;
}

.footer__pdf {
    display: inline-block;
    width: 40px;
    padding: 8px 8px 8px 8px;
    background-color: #484747;
    color: #989898;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

@media all and (min-width: 600px) {


    .nav {
        padding: 60px 30px;
    }

    .column {
        height: 360px;
        float: left;
        text-align: left;
    }

    .column.half { width: 50%; }
    .column.third { width: 33.3%; }
    .column.flow-opposite { float: right; }


    .center-vert {
    position: absolute;
    top: 50%;

     -webkit-transform: translateY(-50%);
         -ms-transform: translateY(-50%);
             transform: translateY(-50%);
    }
    
    .info h1, .info h2 {
        text-align: left;
        float: right;
    }

    .flow-opposite h1, .flow-opposite h2 { 
        float: left; 
    }

    .footer__logo {
        width: 20%;
        float: left;
    }

    .footer__logo img {
        margin: 0;
    }

    .footer__list {
        width: 20%;
        padding-top: 0;
    }
}

@media all and (min-width: 1040px) {

    .trending {
        max-width: 1000px;
        overflow-x: hidden;
    }
}


/*

<span class="button">Test</span>

.button {
    background-color: #F6F6F6;
    border-radius: 100px;
    position: relative;
    text-align: center;
    padding: 10px 32px;
    box-sizing: border-box;
}
.button::before {
    border-radius: 100px;
    content: '';
    background-image: linear-gradient(to bottom, #FEB157 0%, #FC792C 100%);
    padding: 2px;
    width: 100%;
    height:100%;
    top: -2px;
    left: -2px;
    position:absolute;
    z-index:-1;
}

/*
