/*override normalise*/
ul {
    padding: 0;
}

/*border box model*/
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*Grid System*/

.container {
    margin: 0 auto;
    width: 90%;
}

.column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
}


.column.full { width: 100%; }
.column.two-thirds { width: 66.7%; }
.column.half { width: 50%; }
.column.third { width: 33.3%; }
.column.fourth { width: 24.95%; }
.column.flow-opposite { float: right; }


html {
    height: 100%;
    background-color: #F6F6F6;
}


body {
    height: 100%;
}


h1, a {
   color: #323232;
   font-family: Montserrat, Helvetica, sans-serif;
   font-weight: 200;
}

h1 {
	font-size: 1.2em;
}

h2 {
	font-family: Open Sans, Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: 200;
}

.hero {
	max-width: 28em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

header h1 {
	font-size: 2.4em;
}

header h2 {
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    font-size: .8em;
}

.nav {
	padding: 3.2em;
}

.link--loud {
	padding: 0.7em 2.2em 0.8em;
	border: 2px solid;
	border-color: #feb157;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.nav .link--loud {
	padding: 0.4em 1.4em 0.5em;
}

.nav__links{
	float: right;
}

.nav__links a {
	margin-left: 1em;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}